<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738847662918-af9a16p0jbpjq7108h40vk04m8lms3k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738847662918-af9a16p0jbpjq7108h40vk04m8lms3k5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>738847662918-lqb1c1qh1ia6s4rl9jqogddmfvsl30fb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMBlyanIzIMWpk03u0irLuFBDpGV0gsdc</string>
	<key>GCM_SENDER_ID</key>
	<string>738847662918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>erk24.cs262.calvin.edu.grassrootsGreen</string>
	<key>PROJECT_ID</key>
	<string>grassroots-green-f30d4</string>
	<key>STORAGE_BUCKET</key>
	<string>grassroots-green-f30d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738847662918:ios:dba5cb7183c8dac11f3b47</string>
	<key>DATABASE_URL</key>
	<string>https://grassroots-green-f30d4.firebaseio.com</string>
</dict>
</plist>